<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Login" verbose="5">
    <classes>
      <class name="Istuary.com.http.LoginTest"/>
     </classes>
  </test> <!-- Test -->
   <test name="Group" verbose="5">
    <classes>
       <class name="Istuary.com.http.UboGroupTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

